<form>
	<div class="form-group">
		<label>First Name</label>
		{{input type="text" class="form-control" value=model.FirstName placeholder="Add First Name..."}}
	</div>

  <div class="form-group">
		<label>Surname</label>
		{{input type="text" class="form-control" value=model.Surname placeholder="Add Surname..."}}
	</div>

  <div class="form-group">
    <label>Phone Number</label>
    {{input type="text" class="form-control" value=model.PhoneNumber placeholder="Add Phone Number..."}}
  </div>

  <div class="form-group">
    <label>Mobile Number</label>
    {{input type="text" class="form-control" value=model.MobileNumber placeholder="Add Mobile Number..."}}
  </div>

	<button {{action 'addContact'}} class="btn btn-primary">Submit</button>
</form>
